@charset "utf-8";
@font-face {
    font-family: Nunito;
    src: url(../files/font/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: NunitoL;
    src: url(../files/font/NunitoSans-Light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../files/font/Montserrat-Regular.otf);
}

@media only screen and (min-width:1367px) {
	#divfeature .cl-cntr {
		position:relative;
		left:19%;
	}

	#divupevent h3 {
		position:relative;
		left:19%;
	}

	#divlink .cl-cntr {
		position:relative;
		left:26%;
	}

	#divindx #divupevent .cl-clndr {
		margin-right:24em;
		margin-top:-2.5em;
		color:#8D221C;
		text-decoration:none;
		font-family:Montserrat;
		font-weight:bold;
		cursor:pointer;
	}

	#divnewslist #divnews {
		/*border:1px solid black;*/
		width:1200px;
		margin-left:24em;
	}


	#divnewslist .cl-nxt-prev .w3-left {
		padding-left:28em;
	}

	#divnewslist .cl-nxt-prev .w3-right {
		padding-right:28em;
	}

	#divnewspage .cl-heading {
		padding-left:16.5em;
		font-weight:bold;
		font-family:Nunito;
	}

	#divnewspage .cl-div-bod {
		width:1100px;
	}

	#divnewspage .cl-par {
		padding-left:27em;
		margin-top:1em;
	}

	#divdeptlist .cl-bod-cntnt h3 {
		margin-left:14em;
		color:#393939;
	}

	#divdeptlist .cl-list {
		padding:1em 0em 2em 4em;
		width:1400px;
		margin-left:22em;
	}

	#divdept #divnews .right {
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  margin-right:22em;
	}

	#divdept #divnews .left {
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  margin-left:22em;
	}

	#divdept .cl-div-cntnt {
		margin-left:26em;
	}

	#divadmin #divhead {
		width:1000px;
		margin-left:30.4em;
	}

	#divadmin #divbody {
		width:1210px;
		margin:2em 0em 2em 23.6em;
	}

	#divso #divbody .cl-txt,
	#divrodelsa #divbody .cl-txt,
	#divsophia #divbody .cl-txt,
	#divguidance #divbody .cl-txt,
	#divnstp #divbody .cl-txt {
		position:absolute;
		top:140px;
		width:600px;
		/*background-color:#888888;*/
		color:#8D221C;
		right:400px;
	}

	#divresearch .cl-bod-cntnt #divbody,
	#diveteeap .cl-bod-cntnt #divbody,
	#divvmgo .cl-bod-cntnt #divbody {
		width:1000px;
		margin-left:30em;
		color:#707070;
	}

	#divcalendar #divbody {
		width:1600px;
		margin-left:16em;
	}

	#divtuition #divbody,
	#divrodelsa #divbody,
	#divenrollment #divbody,
	#divorg #divbody,
	#divdir #divbody,
	#divlinkages #divbody,
	#divscholar #divbody {
		width:1200px;
		color:#707070;
		margin-left:24em;
	}

	#divresearch #divfndmore .w3-modal-content,
	#divsps #divsaservices .w3-modal-content,
	#divsps #divhandbook .w3-modal-content,
	#divorg #divguidelines .w3-modal-content,
	#divrodelsa #divconcert .w3-modal-content,
	#divsophia #divhseandreg .w3-modal-content {
		height:800px;
		overflow:auto;
	}

	#divcalendar #divbody .col-2 {
		width:52%;
	}

	#divcalendar #divbody .col-3 {
		width:12%;
	}

	#divsps iframe {
		height:738px;
	}
}

@media only screen and (min-width:361px) and (max-width:1366px) {
	#divfeature .cl-cntr {
		position:relative;
		left:6%;
	}

	#divupevent h3 {
		margin-left:3.4em;
	}

	#divlink .cl-cntr {
		position:relative;
		left:20%;
	}

	#divnewslist #divnews {
		width:1200px;
		margin-left:6em;
	}

	#divnewslist .cl-nxt-prev .w3-left {
		padding-left:4em;
	}

	#divnewslist .cl-nxt-prev .w3-right {
		padding-right:4em;
	}

	#divnewspage .cl-heading {
		padding-left:12.5em;
		font-weight:bold;
		font-family:Nunito;
	}

	#divnewspage .cl-div-bod {
		width:900px;
	}

	#divnewspage .cl-par {
		padding-left:9em;
		margin-top:1em;
	}

	#divdeptlist .cl-bod-cntnt h3 {
		margin-left:2em;
		color:#393939;
	}

	#divdeptlist .cl-list {
		padding:1em 0em 2em 6em;
		width:1400px;
	}

	#divdept #divnews .right {
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  margin-right:4em;
	}

	#divdept #divnews .left {
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  margin-left:4em;
	}

	#divdept .cl-div-cntnt {
		margin-left:8em;
	}

	#divadmin #divhead {
		width:1000px;
		margin-left:12.2em;
		margin-top:2em;
	}

	#divadmin #divbody {
		width:1210px;
		margin:2em 0em 2em 5.2em;
	}

	#divadmin .cl-vl {
		top: 9em;
	}

	#divso #divbody .cl-txt,
	#divguidance #divbody .cl-txt,
	#divrodelsa #divbody .cl-txt,
	#divsophia #divbody .cl-txt,
	#divnstp #divbody .cl-txt {
		position:absolute;
		top:140px;
		width:600px;
		color:#8D221C;
		right:120px;
	}

	#divresearch .cl-bod-cntnt #divbody,
	#diveteeap .cl-bod-cntnt #divbody,
	#divvmgo .cl-bod-cntnt #divbody {
		width:1000px;
		margin-left:12em;
		color:#707070;
	}

	#divtuition #divbody,
	#divrodelsa #divbody,
	#divorg #divbody,
	#divenrollment #divbody,
	#divlinkages #divbody,
	#divdir #divbody,
	#divscholar #divbody {
		width:1200px;
		color:#707070;
		margin-left:5.2em;
	}

	#divresearch #divfndmore .w3-modal-content,
	#divsps #divsaservices .w3-modal-content,
	#divsps #divhandbook .w3-modal-content,
	#divorg #divguidelines .w3-modal-content,
	#divrodelsa #divconcert .w3-modal-content,
	#divsophia #divhseandreg .w3-modal-content {
		height:500px;
		overflow:auto;
	}

	#divcalendar #divbody {
		width:1200px;
		margin-left:4em;
	}

	#divcalendar #divbody .col-2 {
		width:62%;
	}

	#divcalendar #divbody .col-3 {
		width:12%;
	}

	#divsps iframe {
		height:438px;
	}

}

h2, h3, h4, h5, h6 {
	font-family:Nunito;
}

p {
	font-family:Montserrat;
}

#divnav {
	background-color:#FFFFFF;
}

.cl-bod-cntnt {
	margin-top:6.8em;
}

#divindx #divnav .w3-right {
	width:50%;
	float:right;
}

#divindx .cl-btn1 {
	border:1px solid #000000;
	border-radius:20px;
	padding:0.5em 2.5em 0.5em 2.5em;
	font-family:Montserrat;
	background-color:transparent;
	cursor:pointer;
	outline:none;
}

#divindx .cl-btn1:hover {
	color:#FFFFFF;
	background-color:#8D221C;
}

#divindx #divnav .w3-right div {
	width:100%;
}

#divindx #divslide {
	width:100%;
	height:400px;
	overflow:hidden;
}

#divnav2 {
	width:100%;
	margin-top:1em;
}

#divnav2 .column {
	/*float:left;*/
	width:220px;
	display:inline-block;
	margin:0em 2em 0em 2em;
}

#divvids .column {
	display:inline-block;
	margin:1em 1.5em 0em 1.5em;
}

#divnav2 .column span {
	font-family:Nunito;
	font-weight:bold;
}

#divnav2 .column p {
	font-family:Montserrat;
	font-size:12px;
}

#divnav2 .cl-ico-div {
	height: 94px;
	width: 94px;
	background-color: #FEF8EB;
	border-radius: 50%;
}

#divnav2 .cl-ico-div img {
	width:38%; 
}

#divprog {
	margin:1em 1.5em 0em 1.5em;
}

#divprog .w3-row span {
	font-family:NunitoL;
	font-size:24px;
	margin-right:2.5em;
	color:#8D221C;
	font-weight:bold;
}

#divprog .cl-btn1 {
	color:#8D221C;
	border:1px solid #8D221C;
}

#divprog .column {
	/*border:1px solid black;*/
	display:inline-block;
	/*margin:0em 2em 0em 2em;*/
	margin-top:1em;
	padding:4em 1em 4em 1em;
	width:220px;
	background-color:#fccf6a;
	color:#FFFFFF;
}

#divprog .overlay span {
	font-family:NunitoL;
	font-size:18px;
}

#divprog .overlay p {
	font-family:Montserrat;
	font-size:12px;
}

#divupevent {
	padding-top:1em;
}

#divupevent .cl-event .cl-evnt-cntnt .column {
	float:left;
	padding:0em 1em 0em 1em;
	text-align:left;
}

#divupevent .cl-event .spn-lbl {
	font-family:Montserrat;
	font-size:12px;
}

#divupevent .cl-event .spn-ttle {
	font-family:Nunito;
	font-size:18px;
	font-weight:bold;
}

#divupevent .cl-event #eday {
	font-size:36px;
	margin-top:-2em;
}

/*#divupevent h3 {
	margin-left:3.4em;
}*/

#divupevent .cl-event .cl-evnt-cntnt {
	/*border:1px solid black;*/
	width:400px;
	display:inline-block;
	color:#8D221C;
}

#divupevent .cl-event .column .right {
	width:80%;
	/*border:1px solid red;*/
}

#divupevent .cl-clndr {
	margin-right:6em;
	margin-top:-2.5em;
	color:#8D221C;
	text-decoration:none;
	font-family:Montserrat;
	font-weight:bold;
	cursor:pointer;
}

#divfeature {
	padding-bottom:1em;
}

#divfeature .column {
	float:left;
	width:600px;
	height:380px;
	padding-top:2em;
}

#divfeature h3 {
	margin-bottom:1em;
}

#divfeature .right {
	padding:2em 1.5em 0em 2.5em;
	color:#8D221C;
}

#divfeature .right .w3-border-transparent {
	margin-top:3.8em;
}

#divfeature .right .w3-border-transparent img {
	float:left;
	margin-left:0.5em;
}

#divfeature .column p {
	font-family:Montserrat;
	text-align:justify;
	font-size:12px;
}

#divfeature .left img {
	width:100%;
}

/*#divfeature .cl-cntr {
	position:relative;
	left:6%;
}
*/
#divfeature .right .cl-more {
	float:right;
	font-family:Montserrat;
	font-size:12px;
	font-weight:bold;
}

#divnews .column {
	display:inline-block;
	width:250px;
	margin:1em 1em 0em 1em;
}

#divnews span {
	font-family:Nunito;
}

#divnews p {
	text-align:left;
	font-family:Montserrat;
	font-size:12px;
}

#divnews .cl-div-img {
	width:100%;
	overflow:hidden;
	margin-bottom:1em;
}

#divnews .cl-div-img img {
	width:100%;
}

#divnewslist .cl-nxt-prev {
	margin:0em 0em 2em 0em;
	font-family:Montserrat;
	font-size:14px;
	font-weight:bold;
	color:#8D221C;
	cursor:pointer;
}

#divnewslist #divnews .column {
	margin-bottom:2em;
}

#divnewspage .cl-bod-cntnt {
	color:#393939;
}

#divnewspage .cl-par .column {
	float:left;
	width:220px;
}

#divnewspage .cl-par .column:nth-child(2) {
	width:600px;
	padding:0em 2em 0em 2em;
}

#divnewspage .cl-par .cl-inpt1 {
	border:1px solid #888;
	width:100%;
	padding:0.5em 1em 0.5em 1em;
}

#divnewspage .cl-par .cl-div1 {
	margin-bottom:6em;
}

#divnewspage .cl-par .cl-div1 h6 {
	text-align:left;
	font-weight:bold;
	font-family:Nunito;
}

#divnewspage .cl-par .cl-div1 img {
	margin:0em 0.2em 0em 0.2em;
}

#divnewspage .cl-par p {
	font-size:12px;
	text-align:justify;
	font-family:Montserrat;
	line-height:1.8;
}

#divnewspage .cl-img-bline {
	border-radius:50%;
	height:80px;
	width:80px; 
	margin-bottom:0.4em;
}

#divnewspage .cl-par .cl-bld {
	font-size:14px;
}

#divnewspage .cl-par span {
	font-family:Nunito;
	font-size:12px;
}

#divnewspage .cl-img-cntnt {
	height:360px;
	overflow:hidden;
}

#divachievements .column {
	display:inline-block;
	width:250px;
	margin:1em 1em 0em 1em;
}

#divachievements .column img {
	width:100%;
}

#divlink {
	margin-top:1em;
}

#divlink .column {
	/*display:inline-block;*/
	margin-top:1em;
	float:left;
}

#divlink p {
	font-family:Montserrat;
	font-size:12px;
	/*text-align:left;*/
}

#divlink .cl-cntr .left {
	width:400px;
	padding:2.5em 1em 0em 1em;
	text-align:left;
	color:#8D221C;
}

#divlink .cl-link {
	padding:2em 0em 2em 0em;
}

#divlink .cl-link img {
	margin:0em 1em 0em 1em;
}

/*#divlink .cl-cntr {
	position:relative;
	left:20%;
}*/

#divlink .cl-link i {
  border: solid #8D221C;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-top:-3.5em;
  cursor:pointer;
}

#divlink .cl-link .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right:4em;
}

#divlink .cl-link .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left:4em;
}

/*#divdeptlist .cl-div-dept {
	width:300px;
}*/

#divdeptlist .cl-bod-cntnt .cl-div-img {
	width:150px;
	height:150px;
}

#divdeptlist .cl-bod-cntnt .cl-search {
	border-radius:0;
}

#divdeptlist .cl-div-dept {
	float:left;
	width:620px;
	margin-bottom:2em;
	color:#393939;
}

#divdeptlist .cl-div-dept .column {
	float:left;
}

#divdeptlist .cl-div-dept .column:nth-child(2) {
	width:360px;
	font-size:12px;
	padding:0em 0em 0em 2em;
}

#divdeptlist .cl-div-dept img {
	width:100%;
	border-radius:5px;
}

#divdeptlist .cl-div-dept h6 {
	font-weight:bold;
}

#divdeptlist .cl-div-dept .cl-more {
	float:right;
	font-weight:bold;
	font-family:Montserrat;
	cursor:pointer;
}

#divdeptlist .cl-div-dept .cl-more:hover {
	font-weight:normal;
}

#divdept .cl-div-cntnt {
	width:1200px;
	/*margin-left:5em;*/
	margin-bottom:2em;
	text-align:justify;
}

#divdept #divnews {
	margin-bottom:1em;
}

#divdept .cl-div-cntnt .column {
	/*display:inline-block;*/
	float:left;
}

#divdept .cl-div-cntnt .left {
	width:20%;
}

#divdept .cl-div-cntnt .right {
	width:70%;
	padding-left:2em;
	font-size:14px;
}

#divdept .cl-div-cntnt .right h3 {
	color:#8D221C;
}

#divdept .cl-div-cntnt .right h5 {
	font-weight:bold;
}

#divdept .cl-div-cntnt .left ul li {
	text-align:left;
	list-style:none;
	font-family:Nunito;
	font-weight:bold;
	padding:0.2em 0em 0.2em 0em;
	cursor:pointer;
}

#divdept .cl-div-cntnt .left img {
	border-radius:50%;
	height:150px;
	width:150px;
}

#divdept .cl-div-cntnt .right .right h6 {
	margin-top:-1em;
}

#divdept .cl-div-cntnt .right .right a {
	margin-top:1.8em;
	font-family:Montserrat;
	font-weight:bold;
	text-decoration:none;
}

#divdept .cl-div-cntnt .right .cl-img-admin {
	border-radius:0em;
}

#divdept .cl-div-cntnt .right ul {
	list-style-type:none;
	margin-top:-0.8em;
	padding:0;
	font-weight:bold;
	font-family:Nunito;
}

#divdept .cl-div-cntnt .right .cl-mar-top {
	margin-top:4em;
}

#divdept .cl-div-cntnt .right .cl-mar-top1 {
	margin-top:2em;
}

#divdept #divnews i {
  border: solid #8D221C;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  margin-top:-10.6em;
  cursor:pointer;
}

#divadmin .cl-vl {
	border-left: 4px solid #888;
	height: 100px;
	position: absolute;
	left: 50%;
	/*margin-left: -3px;*/
}

#divadmin #divhead h3 {
	text-align:right;
	font-size:32px;
	letter-spacing:1px;
	font-weight:bold;
	color:#888;
	margin:0em;
}

#divadmin #divhead h3:nth-child(2) {
	margin-top:-0.5em;
}

#divadmin #divbody br {
	line-height:1px;
	height:1px;
}

#divadmin #divhead .column {
	float:left;
	width:50%;
	height:120px;
	padding:1em 1em 1em 1em;
}

#divadmin #divhead .column:nth-child(3) {
	font-family:Montserrat;
	color:#888;
	width:340px;
	padding-top:1.5em;
}

#divenrollment #divbody img,
#divadmin #divbody img {
	height:120px;
	width:120px;
	border-radius:50%;
	margin-bottom:1em;
}

#divenrollment #divbody .spn-name,
#divadmin #divbody .spn-name {
	font-family:Nunito;
	font-weight:bold;
	margin:0;
	/*font-size:14px;*/
}

#divadmin #divbody .spn-pos {
	font-family:Montserrat;
	font-size:12px;
	margin-top:-0.2em;
}

#divadmin #divbody .column {
	float:left;
	padding:1em 1em 1em 1em;
	width:300px;
	height:220px;
	cursor:pointer;
	color:#707070;
}

#divadmin #divadminprofile .w3-modal-content {
	width:80%;
}

#divadmin #divadminprofile .column {
	float:left;
	height:400px;
	margin:0;
	padding:0;
}

#divadmin #divadminprofile .right {
	padding:4em 4em 1em 2em;
	width:60%;
	text-align:justify;
}

#divadmin #divadminprofile .right h3 {
	font-weight:bold;
}

#divadmin #divadminprofile .right p {
	font-size:12px;
}

#divadmin #divadminprofile .spn-pos {
	margin-top:-1em;
}

#divadmin #divadminprofile .spn-pos:nth-child(3) {
	margin-bottom:1.5em;
}

#divadmin #divadminprofile .left {
	padding:0em 2em 0em 0em;
	width:40%;
}

#divadmin #divadminprofile .left img {
	width:100%;
	height:100%;
}

#divsps #divbody,
#divso #divbody,
#divrodelsa #divbody,
#divsophia #divbody,
#divnstp #divbody,
#divguidance #divbody {
	margin:auto;
	width:1200px;
	/*height:400px;*/
}

#divrodelsa #divbody .cl-img,
#divsophia #divbody .cl-img,
#divso #divbody .cl-img,
#divguidance #divbody .cl-img,
#divnstp #divbody .cl-img {
	height:400px;
}

#divrodelsa #divbody .cl-img img,
#divsophia #divbody .cl-img img,
#divso #divbody .cl-img img,
#divguidance #divbody .cl-img img,
#divnstp #divbody .cl-img img {
	width:100%;
	height:100%;
	opacity:0.2;
}

#divrodelsa #divbody .cl-txt h3,
#divsps #divbody .cl-txt h3,
#divorg #divbody .cl-txt h3,
#divguidance #divbody .cl-txt h3,
#divsophia #divbody .cl-txt h3,
#divso #divbody .cl-txt h3 {
	font-weight:bold;
	font-family:Nunito;
	font-size:30px;
}

#divsps #divbody .cl-txt p,
#divso #divbody .cl-txt p,
#divrodelsa #divbody .cl-txt p,
#divsophia #divbody .cl-txt p,
#divguidance #divbody .cl-txt p,
#divnstp #divbody .cl-txt p {
	font-size:12px;
	text-align:justify;
}

#divnstp #divbody .cl-txt h3 {
	font-weight:bold;
	font-family:Nunito;
	font-size:34px;
}

#divsps .cl-bod-cntnt .cl-btn,
#divorg .cl-bod-cntnt .cl-btn,
#divresearch .cl-bod-cntnt .cl-btn,
#divrodelsa .cl-bod-cntnt .cl-btn,
#divsophia .cl-bod-cntnt .cl-btn,
#diveteeap .cl-bod-cntnt .cl-btn,
#divguidance .cl-bod-cntnt .cl-btn,
#divnstp .cl-bod-cntnt .cl-btn {
	border:1px solid #8D221C;
	color:#8D221C;
	cursor:pointer;
	background-color:transparent;
	padding:0.5em 1.5em;
	margin-right:0.5em;
	font-family:Nunito;
	font-size:14px;
	font-weight:bold;
	letter-spacing:1px;
	outline:none;
	transition:0.8s;
}

#divsps .cl-bod-cntnt .cl-btn:hover,
#divorg .cl-bod-cntnt .cl-btn:hover,
#divresearch .cl-bod-cntnt .cl-btn:hover,
#divrodelsa .cl-bod-cntnt .cl-btn:hover,
#divsophia .cl-bod-cntnt .cl-btn:hover,
#diveteeap .cl-bod-cntnt .cl-btn:hover,
#divguidance .cl-bod-cntnt .cl-btn:hover,
#divnstp .cl-bod-cntnt .cl-btn:hover {
	background-color:#8D221C;
	color:#FFFFFF;
	font-weight:normal;
}

#divnstp #divnstpcntnt1 .w3-modal-content,
#divnstp #divnstpcntnt2 .w3-modal-content {
	width:60%;
	padding:2em;
}

#divnstp #divnstpcntnt1 .w3-modal-content p,
#divnstp #divnstpcntnt2 .w3-modal-content p {
	font-size:12px;
	text-align:justify;
}
/*
#divnstp #divnews .column {
	display:inline-block;
	width:200px;
	margin:1em 1em 0em 1em;
	text-align:left;
	height:620px;
	border:1px solid black;
}*/

#divnstp #divbody .w3-row:nth-child(4) {
	padding-left:2em;
}

#divnstp #divbody .w3-row:nth-child(4) .column {
	/*display:inline-block;*/
	float:left;
	width:200px;
	height:620px;
	margin:1em 1em 0em 1em;
	/*border:1px solid black;*/
	text-align:justify;
}

#divnstp #divbody .w3-row:nth-child(4) .column ul li {
	font-size:12px;
	margin:0em;
	/*padding:0;*/
}

#divnstp #divbody .w3-row:nth-child(4) span {
	font-family:Nunito;
}

#divnstp #divbody .w3-row:nth-child(4) p {
	text-align:left;
	font-family:Montserrat;
	font-size:12px;
}

#divnstp #divbody .w3-row:nth-child(4) .cl-div-img {
	width:100%;
	overflow:hidden;
	margin-bottom:1em;
}

#divnstp #divbody .w3-row:nth-child(4) .cl-div-img img {
	width:100%;
}

#divvmgo #divbody .w3-row:nth-child(1) .column {
	/*border:1px solid black;*/
	float:left;
	height:420px;
}

#divresearch #divbody .left, 
#diveteeap #divbody .left, 
#divvmgo #divbody .left { 
	width:46%;
}

#divresearch #divbody .left img,
#diveteeap #divbody .left img,
#divvmgo #divbody .left img {
	width:420px;
}

#divresearch #divbody .right, 
#diveteeap #divbody .right, 
#divvmgo #divbody .right { 
	width:54%;
	font-size:12px;
	text-align:justify;
	padding:2em 2em 0em 2em
}

#divresearch #divbody .w3-row,
#diveteeap #divbody .w3-row,
#divvmgo #divbody .w3-row {
	/*border:1px solid black;*/
	padding:1em 0em;
}

#divresearch #divbody .w3-row:nth-child(2) .column,
#diveteeap #divbody .w3-row:nth-child(2) .column,
#divvmgo #divbody .w3-row:nth-child(2) .column { 
	width:33%;
	float:left;
	text-align:center;
}

#divvmgo #divbody .w3-row:nth-child(3) .column { 
	float:left;
	width:50%;
	padding:0em 1em;
}

#divvmgo #divbody .w3-row:nth-child(3) h3 {
	margin-top:1.5em;
	font-size:30px; 
}

#divvmgo #divbody .w3-row:nth-child(3) p { 
	text-align:justify;
	font-size:12px;
}

#divvmgo #divbody .w3-row:nth-child(3) table td {
	border:20px solid #FFF;
	padding:0;
	width:140px;
	height:160px;
	cursor:pointer;
	/*background-color:#FCCF6A;*/
}

#divvmgo #divbody .w3-row:nth-child(3) table td:hover > .transbox {
	opacity:0;
	transition:1s;
}

#divvmgo #divbody .w3-row:nth-child(3) table td:hover > span {
	text-shadow: 1px 1px #888;
	transition:1s;
}

#divvmgo #divbody table tr:nth-child(1) td:nth-child(1) {
	background-image:url(../images/rodelsahall.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#divvmgo #divbody table tr:nth-child(1) td:nth-child(2) {
	background-image:url(../images/rodelsahall.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#divvmgo #divbody table tr:nth-child(2) td:nth-child(1) {
	background-image:url(../images/rodelsahall.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
#divvmgo #divbody table tr:nth-child(2) td:nth-child(2) {
	background-image:url(../images/rodelsahall.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

#divvmgo #divbody table .transbox {
	background-color: #FFFFFF;
	opacity: 0.6;
	width:100%;
	height:100%; 
}
#divvmgo #divbody table span {
	font-family:Nunito;
	font-weight:bold;
	font-size:14px;
	letter-spacing:1px;
	opacity:1;
	color:#8D221C;
	position:absolute;
	padding-top:4.5em;
	margin-left:4.5em;
	z-index:1;
}

#divscholar #divbody ul {
	list-style:none;
	margin:0;
	padding-left:0;
}

#divscholar #divbody ul li {
	padding:0.1em 0em;
}

#divscholar #divbody h5 {
	font-weight:bold;
	margin:1em 0em -0.2em -1em;
	font-size:24px;
}

#divscholar #divbody table {
	width:95%;
	margin-left:2em;
	margin-bottom:2em;
	display:none;
}
#divscholar #divbody table td:nth-child(1) {
	width:200px;
	font-family:Nunito;
	padding:1em 2em;
}

#divscholar #divbody .cl-tbl-1 td:nth-child(1) {
	font-weight:bold;
}

#divscholar #divbody table td:nth-child(2) {
	font-family:Montserrat;
	font-size:14px;
	padding:1em 16em 1em 1em;
}

#divscholar #divbody .cl-ul-tab li {
	margin-left:6em;
	list-style:circle;
}

#divscholar select {
	font-family:Nunito;
	font-size:30px;
	font-weight:bold;
	color:#707070;
	outline:none;
	margin-bottom:0em;
}

#divscholar option {
	font-size:14px;
	padding:1em 0em;
}

#divscholar .cl-h3 {
	font-size:22px;
	font-family:Montserrat;
	color:#8D221C;
	font-weight:bold;
	margin-left:-1em;
}

#divscholar .cl-btn {
	border:2px solid #8D221C;
	border-radius:20px;
	padding:0.5em 2em;
	font-family:Nunito;
	font-weight:bold;
	color:#8D221C;
	margin-left:3em;
	cursor:pointer;
	outline:none;
	background-color:transparent;
}

#divscholar .cl-btn:hover {
	background-color:#8D221C;
	color:#FFFFFF;
	transition:.5s;
}

#divsophia #divbody .w3-row:nth-child(3),
#divguidance #divbody .w3-row:nth-child(3) {
	margin:2em 0em;
}
#divguidance #divbody .w3-row:nth-child(4) {
	padding-left:6em;
	font-family:Nunito;
	font-size:14px;
	font-weight:bold;
}

#divguidance #divbody .w3-row:nth-child(4) img {
	border-radius:50%;
	height:100px;
	width:100px;
	margin-bottom:1em;
}

#divguidance #divbody .w3-row:nth-child(4) .column {
	float:left;
	width:18%;
	text-align:center;
}

#divsophia #divbody .w3-row:nth-child(3) .cl-h3,
#divguidance #divbody .w3-row:nth-child(3) .cl-h3 {
	font-size:22px;
	font-family:Montserrat;
	color:#8D221C;
	font-weight:bold;
	margin-left:-1em;
}

#divsophia #divbody .w3-row:nth-child(3) .cl-btn,
#divguidance #divbody .w3-row:nth-child(3) .cl-btn {
	border:2px solid #8D221C;
	border-radius:20px;
	padding:0.5em 2em;
	font-family:Nunito;
	font-weight:bold;
	color:#8D221C;
	margin-left:3em;
	cursor:pointer;
}

#divsps .cl-tbl-lst,
#divorg .cl-tbl-lst,
#divlinkages .cl-tbl-lst,
#diveteeap .cl-tbl-lst {
	width:100%;
	font-family:Montserrat;
	font-size:14px;
	/*margin-top:1em;*/ 
	border-spacing:20px;
}

#divsps #divsaservices .cl-tbl-lst td,
#divlinkages .cl-tbl-lst td,
#diveteeap .cl-tbl-lst td {
	border-left:4px solid #8D221C;
	padding:0.5em 0.5em;
	margin-bottom:1em;
	/*width:33.3%;*/
}

#diveteeap .cl-tbl-lst td:nth-child(1) {
	width:300px;
}

#divresearch #divbody h3 {
	font-size:30px;
}

#diveteeap #divbody .w3-row:nth-child(1) .column,
#divresearch #divbody .w3-row:nth-child(1) .column {
	float:left;
}

#divresearch #divbody .w3-row:nth-child(3) .column {
	/*border:1px solid black;*/
	float:left;
	width:33%;
	text-align:center;
	font-family:Nunito;
	font-weight:bold;
	font-size:14px;
	padding:0em 2em;
}

#divresearch #divbody .w3-row:nth-child(3) img {
	border-radius:50%;
	height:100px;
	width:100px;
	margin-bottom:1em;
}

#divdir h3,
#divlinkages .cl-tbl-1 h5,
#divlinkages h2 {
	font-weight:bold;
}

#divlinkages .cl-tbl-lst td {
	width:50%;
}

#divdir #divbody .w3-row:nth-child(1) input {
	width:79.5%;
	color:#707070;
}

#divdir #divbody .w3-row:nth-child(1) select {
	width:20%;
	color:#888;
}

#divdir #divbody .w3-row:nth-child(1) .cl-inpt {
	padding:1em 1.5em;
	font-family:Montserrat;
	border:1px solid #ccc;
}

#divdir #divbody table {
	border-spacing:10px;
	width:100%;
}

#divdir #divbody table td {
	border-left:4px solid #F2B220;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:1em 2em;
}

#divdir #divbody table td .column {
	float:left;
	font-family:Montserrat;
}

#divdir #divbody table td .cl-nme {
	font-weight:bold;
	padding:0;
	margin:0;
}

#divdir #divbody table td .cl-loc {
	font-size:12px;
	margin-top:-1em;
	padding:0;
}

#divorg .cl-tbl-lst .column, 
#divsophia .cl-tbl-lst .column {
	float:left;
	font-family:Montserrat;
	vertical-align:middle;
	margin:0.5em 0em;
	/*line-height: 100px;*/
}

#divorg .cl-tbl-lst .column:nth-child(2),
#divsophia .cl-tbl-lst .column:nth-child(2) {
	padding:1.2em 0em 0em 1em; 
}

#divsophia .cl-tbl-lst .column .cl-lbl {
	letter-spacing:0.5px;
	font-size:12px;
}

#divsophia .cl-tbl-lst .cl-nlbl span {
	margin-top:4em;
}

#divsps .w3-row .cl-tbl-lst img,
#divorg .cl-tbl-lst img,
#divsophia .cl-tbl-lst img {
	width:80px;
	height:80px;
	border-radius:50%;
	vertical-align:middle;
}

#divsophia #divbody .w3-row:nth-child(5) .column {
	float:left;
	width:33%;
	padding:2em 4em;
	text-align:center;
	font-family:Nunito;
}

#divsophia #divbody .w3-row:nth-child(5) img {
	width:100%;
	margin-bottom:1em;
}

#divsophia #img-loc-sop {
	width:100%;
	height:360px;
	margin-bottom:0.5em;
}

#divsophia #divbody .w3-row:nth-child(6) .w3-row {
	margin:0em;
}

#divsophia #divbody .w3-row:nth-child(6) .w3-row .cl-lbl {
	margin-left:2em;
	font-family:Montserrat;
	padding-left:1em;
	margin-top:8px;
}

#divsophia #divbody .w3-row:nth-child(6),
#divsophia #divbody .w3-row:nth-child(5),
#divsophia #divbody .w3-row:nth-child(4),
#divguidance #divbody .w3-row:nth-child(4),
#divrodelsa #divconcert,
#divsophia #divhseandreg {
	color:#707070;
}

#divorg #divguidelines .w3-modal-content div,
#divrodelsa #divconcert .w3-modal-content div,
#divsophia #divhseandreg .w3-modal-content div {
	padding:0em 2em;
	text-align:justify;
	font-family:Montserrat;
	color:#707070;
}

#divorg .cl-bod-cntnt {
	text-align:justify;
}

#divorg #divbody .cl-tbl-1 .cl-tbl-lst td {
	border-left:4px solid #F2B220;
	padding:0.5em 0.5em;
	margin-bottom:1em;
}

#divorg #divbody .w3-row,
#divorg #divbody .cl-tbl-lst {
	padding:1em 0em;
}

#divorg .cl-bod-cntnt .cl-btn {
	width:220px;
	padding:0.8em 0em;
}

#divsps {
	color:#888;
}

#divsps .cl-tbl-lst td {
	text-align:center;
}

#divsps .w3-row .cl-tbl-lst td span {
	font-weight:bold;
}

#divsps iframe {
	border:none;
}

#divsps #divsaservices table td {
	text-align:left;
}

#divenrollment #divbody ul,
#divenrollment #divbody .spn-pos {
	text-align:left;
	color:#8D221C;
	font-size:12px;
	letter-spacing:0.5px;
	font-family:Montserrat;
	font-size:12px;
}

#divenrollment #divbody table {	
	font-family:Montserrat;
}

#divenrollment #divbody .column {
	float:left;
	padding:1em 1em 1em 1em;
	width:300px;
	/*height:220px;*/
	cursor:pointer;
	color:#707070;
}

#divenrollment #divbody .column-1 {
	width:50%;
	color:#8D221C;
}

#divenrollment #divbody .spn-num {
	font-size:60px;
	position:relative;
	top:40px;
	right:-5px;
	font-family:Nunito;
	font-weight:bold;
	color:#8D221C;
}

#divenrollment #divbody h3 {
	font-weight:bold;
}

#divcalendar #divbody .column {
	float:left;
	height:600px;
}

#divcalendar #divbody .col-1 {
	background-color:#8D221C;
	color:#FFFFFF;
	padding-top:6em;
	width:26%;
}

#divcalendar #divbody .col-1 ul {
	margin:0em 0em 2em 4em;
	padding:0;
}

#divcalendar #divbody .col-1 ul li {
	font-family:Nunito;
	/*font-weight:bold;*/
	padding-right:1.5em;
}

#divcalendar #divbody .col-3 h3,
#divcalendar #divbody .col-3 #slctyear,
#divcalendar #divbody .col-2 #slctmonth {
	font-size:40px;
	font-weight:bold;
	color:#8D221C;
	letter-spacing:1px;
	margin-left:0.7em;
	font-family:Nunito;
}

#divcalendar #divbody #idday {
	font-family:Montserrat;
	font-size:50px;
	color:#D1A6A4;
	margin-left:1em;
}

#divcalendar #divbody #iddate {
	margin-left:1.3em;
}

#divcalendar #divbody #iddate,
#divcalendar #divbody #idmonth {
	font-family:Nunito;
	font-size:40px;
	position:relative;
	top:-30px;
}

#divcalendar #divbody .col-1 table td {
	padding:1em 0em 1em 4em;
}

#divcalendar #divbody .col-1 .cl-time {
	font-family:Montserrat;
	font-size:12px;
	color:#D1A6A4;
}

#divcalendar #divbody .col-1 .cl-ttle {
	font-family:Nunito;
	font-size:18px;
}

#divcalendar #divbody .col-1 table tr:hover {
	background-color:#7D0700;
	transition:0.5s;
	cursor:pointer;
}

#divcalendar #divbody .col-2 .cl-days {
	margin-top:4em;
	margin-left:0.3em;
}

#divcalendar #divbody .col-2 .cl-days li {
	color:#8D221C;
	font-family:Montserrat;
	font-weight:bold;
	font-size:18px;
	/*border:1px solid black;*/
	margin-left:-0.3em;
}

#divcalendar #divbody .col-2 .cl-dates li {
	font-family:Montserrat;
	font-weight:bold;
	color:#707070;
	font-size:18px;
	margin-top:1.5em;
	cursor:pointer;
}

#divcalendar #divbody .col-2 ul li div {
	text-align:center;
	width:100px;
}

#divcalendar #divbody .col-3 ul {
	margin:1em 0em 0em 0em;
	padding:0;
	color:#8D221C;
}


#divcalendar #divbody .col-3 ul li {
	list-style:none;
	margin:0;
	padding:0.5em 2em;
	font-family:Montserrat;
	font-size:16px;
	font-weight:bold;
}

#divcalendar #divbody .col-3 ul li:hover {
	background-color:#8D221C;
	color:#FFFFFF;
	transition:0.5s;
	cursor:pointer;
	border-radius:8px 0px 0px 8px;
}

#divcalendar #divbody .col-3 #slctyear{
	outline:none;
}

#divcalendar #divbody .col-2 #slctmonth {
	width:280px;
	outline:none;
}

#divcalendar #divbody .col-3 #slctyear option,
#divcalendar #divbody .col-2 #slctmonth option {
	font-size:16px;
}

.mselected {
	background-color:#8D221C;
	color:#FFFFFF;
	transition:0.5s;
	cursor:pointer;
	border-radius:8px 0px 0px 8px;
}

.dselected {
	background-color:#8D221C;
	color:#FFFFFF;
	border-radius:5px;
}


#divcalendar #divbody .col-1 ul li,
#divcalendar #divbody .col-2 ul li,
#divcalendar #divbody .col-2 ul li div {
	list-style:none;
	display:inline-block;
}

#divrodelsa #divbody .column {
	float:left;
	height:500px;
	overflow:hidden;
}

#divrodelsa #divbody .right {
	width:500px;
	position:absolute;
	right:100px;
	background-color:#8D221C;
	color:#FFFFFF;
	padding:1em 2em;
}

#divrodelsa #divbody .right p {
	font-size:12px;
	font-family:Montserrat;
	text-align:justify;
}

#divresearch #divfndmore ul li,
#divrodelsa #divconcert ul li {
	padding:0.5em 0em;
}

#divtuition table td {
	font-family:Montserrat;
	letter-spacing:0.5px;
}

#divtuition table td:nth-child(4),
#divtuition table td:nth-child(3),
#divtuition table td:nth-child(2) {
	text-align:center;
}

#divtuition table td:nth-child(4) {
	font-weight:bold;
}

#divtuition #divbody .w3-row:nth-child(1) {
	letter-spacing:0.5px;
	margin-top:1em;
}/*

#divtuition #divbody .w3-row:nth-child(1) h4 {
	margin-top:1em;
}*/

#divtuition select {
	font-family:Nunito;
	font-size:30px;
	font-weight:bold;
	color:#707070;
	outline:none;
	margin-bottom:0em;
}

#divtuition option {
	font-size:14px;
	padding:1em 0em;
}


#divfooter {
	width:100%;
	/*height:400px;*/
	overflow:hidden;
	margin-top:1em;
}

#divfooter .column {
	float:left;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#8D221C;
}

#divfooter a {
	text-decoration:none;
}

#divfooter ul li {
	list-style-type:none;
	font-size:14px;
	margin:0.2em 0em 0.2em 0em;
}

#divfooter .cl-lih {
	font-weight:bold;
	font-size:16px;
}

#divfooter .w3-right {
	padding:1em;
}

#divfooter .w3-right ul {
	margin:0;
	padding:0;
}

#divfooter .w3-right li {
	padding:0.1em 0em 0.1em 0em;
}

#divfooter input {
	margin-top:1em;
	width:250px;
	padding:0.5em 0.5em 0.5em 1em;
	border:2px solid #8D221C;
	background-color:transparent;
	color:#8D221C;
	border-radius:5px 1px 1px 5px;
}

#divfooter button {
	border:none;
	padding:0.65em;
	background-color:#8D221C;
	color:#FFFFFF;
	margin-left:-0.4em;
	border-radius:1px 5px 5px 1px;
	cursor:pointer;
}

#divfooter .cl-cpy {
	color:#8D221C;
	font-family:Segoe UI;
	padding:1em 1em 1em 2em;
	background-color:#F2B220;
} 

.cl-ico-ldcu {
    width: 346px;
    height: 86px;
    /*margin-left:1em;*/
}

.cl-search {
	border-radius:20px;
	width:340px;
	font-size:14px;
	padding:0.8em 1.5em 0.8em 1.5em;
	margin-right:1.5em;
	margin-top:1em;
	outline:none;
	font-family:Nunito;
}

.cl-more {
	cursor:pointer;
}

.cl-bld {
	font-weight:bold;
}

.cl-rd {
	color:#8D221C;
}

.cl-bg-yllw {
	background-color:#F9EFDA;
}

.cl-bg-yllw1 {
	background-color:#fef8eb;
}

.cl-bg-yllw2 {
	background-color:#fccf6a;
}

.cl-brdr-bottom {
	border-bottom:2px solid #888;
}

.hdn {
	display:none;
}

/****************************/
#divslide .mySlides {display:none; width:100%;}
#divslide .w3-left, #divslide .w3-right, #divslide .w3-badge {cursor:pointer}
#divslide .w3-badge {height:13px;width:13px;padding:0;border:1px solid;}

#divlink .clpage {display:none; width:100%;height:110px;}
/*#divlink .w3-left, #divlink .w3-right, #divlink .w3-badge {cursor:pointer}*/
/*#divlink .w3-badge {height:13px;width:13px;padding:0;border:1px solid;}*/
/****************************/
#divnav .clnav {
	float:right;
	margin-top:0.5em;
}
#divnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#divnav ul li {
    display: block;
    position: relative;
    float: left;
    /*padding:0em 1em 0em 1em;*/
    cursor:pointer;
}

#divnav li ul {
    display: none;
}

#divnav ul li a {
    display: block;
    /*padding: 1em;*/
    text-decoration: none;
    white-space: nowrap;
    color: #8D221C;
    padding:1em 1.6em 1em 1.6em;
}

#divnav ul li a:hover {
    background: #CCCCCC;
}

#divnav > ul li:hover {
    background-color: #CCCCCC;
}

#divnav > ul li ul li:hover {
    background-color: #CCCCCC;
}

#divnav li:hover > ul {
    display: block;
    position: absolute;
}

#divnav li:hover li {
    float: none;
}

#divnav li:hover a {
    background: ;
}

#divnav li:hover li a:hover {
    background: #CCCCCC;
}

#divnav .clnav li ul li {
    border-top: 0;
    background: #FFFFFF;
}

#divnav .clnav li {
	font-size:12px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#divnav ul ul ul {
    left: 100%;
    top: 0;
}

#divnav ul:before,
#divnav ul:after {
    content: " ";
    display: table;
}

#divnav ul:after {
    clear: both;
}